* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: #000;
}

.flex {
    display: flex;
}

.bg-container {
    background: url(img/header.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    height: 100%;
}

header {
    width: 100%;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
}

hr {
    max-width: 65px;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 30px;
    border-color: #F05F44;
}

.btn {
    display: block!important;
    justify-content: center;
    padding: 1rem 3rem;
    border-radius: 1rem;
    background: #F05F44;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.btn:hover {
    padding: 1.2rem 3.2rem;
}

.clear {
    display: block!important;
}